#truckUpdateContainer {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#formAreaWrapper {
}

#formArea {
    border: 2px solid #cccccc;
    background: #ffffff;
    padding: 20px;
    text-align: left;
}

.formField {
    margin-bottom: 20px;
}