#truckUpdateContainer {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#formArea {
    border-top: 2px solid #333333;
    padding: 20px;
    text-align: left;
}

.formField {
    margin-bottom: 10px;
}