#truckUpdateContainer {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#formArea {
    border: 2px solid #cccccc;
    background: #ffffff;
    padding: 20px;
    text-align: left;
}

.formField:not(:last-child) {
    margin-bottom: 20px;
}

.deleteButton {
    background: #af4c4c;
}