#truckInfo {
  display: flex;
}

#truckInfo h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

#truckInfo .truckDetails div {
  font-size: 20px;
  margin-bottom: 10px;
}

#truckInfo .truckDetails {
  flex: 2;
}

#truckInfo .truckImage {
  flex: 3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50%;
  margin-left: 20px;
}

@media only screen and (max-width: 768px) {
  #truckInfo {
    flex-direction: column;
  }

  #truckInfo .truckDetails {
    text-align: center;
    margin-bottom: 10px;
  }

  #truckInfo .truckImage {
    margin-left: 0;
  }
}