<div id="topNav">
  <div id="topNavContainer">
    <div id="topNav-left">
      <a id="topNav-logo" [routerLink]="['/']">NEWS ALLEN</a>
      <div id="topNav-links">
        <a href="" [routerLink]="['/map']" routerLinkActive="active">map</a>
        <a href="truck" [routerLink]="['/truck']" routerLinkActive="active">truck</a>
      </div>
    </div>
    <div id="topNav-right">
      <div id="topNav-user">
        <span class="name">Ray</span>
        <i class="far fa-user-circle"></i>
      </div>
      <i id="topNav-menu" class="fas fa-bars" (click)="toggleExpand()"></i>
    </div>
  </div>
  <div id="topNav-dropdown-links" *ngIf="isExpanded">
    <a href="" [routerLink]="['/map']" routerLinkActive="active" (click)="hideExpand()">map</a>
    <a href="truck" [routerLink]="['/truck']" routerLinkActive="active" (click)="hideExpand()">truck</a>
  </div>
</div>