<div id="topNav">
  <div class="topNav-left">
    <div class="topNav-logo">
      <a href="">NEWS ALLEN</a>
    </div>
    <div class="topNav-links">
        <a href="" [routerLink]="['/news']" routerLinkActive="active">news</a>
        <a href="" [routerLink]="['/map']" routerLinkActive="active">map</a>
        <a href="food" [routerLink]="['/food']" routerLinkActive="active">food</a>
    </div>
  </div>
  <div class="topNav-right">
    <div class="topNav-links">
      <a href="feedback" [routerLink]="['/feedback']" routerLinkActive="active">feedback</a>
    </div>
  </div>
</div>