h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;;
}

.truckScheduleWrapper {
  max-width: 400px;
  min-width: 280px;
  margin: auto;
}

.truckSchedule {
  border: 2px solid #cccccc;
  background: #ffffff;
  padding: 20px 10px;
}

.truckScheduleRow {
  display: flex;
  font-size: 24px;
}

.truckScheduleRow:not(:last-child) {
  margin-bottom: 10px;
}

.truckName {
}
.truckDate {
  width: 70px;
  font-style: oblique;
  text-align: right;
  padding-right: 20px;
}