.row {
  display: flex;
  justify-content: space-evenly;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

.leftCol {
  flex: 2;
  text-align: center;
  font-size: 24px;
}

.rightCol {
  flex: 3;
  text-align: center;
  padding-left: 20px;
}

.detailsArea {
  border: 2px solid #cccccc;
  background: #ffffff;
  padding: 20px;
}

.ratingsContainer {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.ratings {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.ratings > div {
  display: flex;
  flex-direction: column;
}

.ratings i {
  margin: 0 5px 5px 5px;
}

.imageArea img {
  width: 100%;
}

.options {
  display: flex;
  flex-direction: column;
}

.options a:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .leftCol {
    padding: 0px;
  }

  .rightCol {
    padding-left: 0;
  }

  .detailsArea {
    border-left: 0;
    border-right: 0;
  }
}
