<app-alert [message]="alert.message" [status]="alert.status"></app-alert>
<div class="row" *ngIf="truck">
  <div class="leftCol">
    <div class="wrapper">
      <div class="detailsArea">
        <div *ngIf="!detailsSlide">
          <h2>{{truck.name}}</h2>
          <div class="ratingsContainer">
            <div class="ratings">
              <div>
                <i class="far fa-heart"></i><span>{{truck.loveRatings}}</span>
              </div>
              <div>
                <i class="far fa-thumbs-up"></i><span>{{truck.likeRatings}}</span>
              </div>
              <div>
                <i class="far fa-meh"></i><span>{{truck.mehRatings}}</span>
              </div>
            </div>
          </div>
          <div class="options">
            <a href="{{truck.webUrl}}" target="_blank">
              <div>
                <i class="fas fa-globe-americas"></i><span>website</span>
              </div>
            </a>
            <a class="ratingSlideLink" (click)="showRatingsSlide()">
              <div>
                <i class="far fa-star"></i><span>rate</span>
              </div>
            </a>
            <a class="ratingSlideLink" (click)="showScheduleSlide()">
              <div>
                <i class="far fa-calendar"></i><span>schedule</span>
              </div>
            </a>
            <a [routerLink]="['/truck/update', truck.id]">
              <div>
                <i class="far fa-edit"></i><span>edit</span>
              </div>
            </a>
          </div>
        </div>
        <div *ngIf="detailsSlide == 'ratings'">
          <h3>Rate this Truck</h3>
          <div class="rateOptions">
            <div [class.active]="isRated(1)" (click)="setRating('love')">
              <i class="far fa-heart"></i>
            </div>
            <div [class.active]="isRated(2)" (click)="setRating('like')">
              <i class="far fa-thumbs-up"></i>
            </div>
            <div [class.active]="isRated(3)" (click)="setRating('meh')">
              <i class="far fa-meh"></i>
            </div>
          </div>
          <div class="options">
            <a class="ratingSlideLink" (click)="removeRating()" *ngIf="rating">erase rating</a>
            <a class="ratingSlideLink" (click)="showDetailsSlide()">cancel</a>
          </div>
        </div>
        <div *ngIf="detailsSlide == 'schedule'">
          <div *ngIf="truck.scheduleDates && truck.scheduleDates.length > 0" style="margin-bottom: 30px;" class="truckDates">
            <h3>Upcoming Visits</h3>
            <div *ngFor="let schedule of truck.scheduleDates">
              {{schedule.date | date: 'MMM d' : 'UTC'}} <i class="far fa-calendar-times" (click)="deleteTruckSchedule(schedule.id)"></i>
            </div>
          </div>
          <div>
            <h3>Schedule this Truck</h3>
            <input type="text" mwlFlatpickr [(ngModel)]="selectedDate" [altInput]="true" [convertModelValue]="true">
            <div class="options">
              <a class="ratingSlideLink" (click)="saveSchedule()" *ngIf="selectedDate" style="margin-bottom: 30px;">schedule truck</a>
              <a class="ratingSlideLink" (click)="showDetailsSlide()">cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rightCol">
    <div class="imageArea">
      <img src="{{truck.imagePath}}" />
    </div>
  </div>
</div>