<div class="row" *ngIf="truck">
  <div class="leftCol">
    <div class="detailsArea">
      <h2>{{truck.name}}</h2>
      <div class="ratingsContainer">
        <div class="ratings">
          <div>
            <i class="far fa-heart"></i><span>{{truck.loveRatings}}</span>
          </div>
          <div>
            <i class="far fa-thumbs-up"></i><span>{{truck.likeRatings}}</span>
          </div>
          <div>
            <i class="far fa-meh"></i><span>{{truck.mehRatings}}</span>
          </div>
        </div>
      </div>
      <div class="options">
        <a href="{{truck.webUrl}}"><i class="fas fa-globe-americas"></i><span>website</span></a>
        <a href="#"><i class="far fa-star"></i>rate truck</a>
        <a [routerLink]="['/truck/update', truck.id]"><i class="far fa-edit"></i>edit truck</a>
      </div>
    </div>
  </div>
  <div class="rightCol">
    <div class="imageArea">
      <img src="assets/img/trucks/{{truck.id}}.jpg" />
    </div>
  </div>
</div>