.row {
  display: flex;
  justify-content: space-evenly;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

.leftCol {
  flex: 2;
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

.rightCol {
  flex: 3;
  text-align: center;
}

.website {
  margin-bottom: 20px;
}

.ratingsContainer {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.ratingCount {
  font-size: 32px;
  margin-bottom: 20px;
}

.ratings {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.ratings > div {
  display: flex;
  flex-direction: column;
}

.ratings i {
  margin: 0 5px 5px 5px;
}

.imageArea img {
  width: 100%;
}

.submit {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .leftCol {
    padding: 0px;
  }

}
