.row {
  display: flex;
  justify-content: space-evenly;
}

.row:not(:last-child) {
  margin-bottom: 20px;
}

.leftCol {
  flex: 2;
  text-align: center;
  font-size: 24px;
}

.rightCol {
  flex: 3;
  text-align: center;
  padding-left: 20px;
}

.detailsArea {
  border: 2px solid #cccccc;
  background: #ffffff;
  padding: 20px;
}

.ratingsContainer {
  max-width: 300px;
  margin: auto;
  margin-bottom: 20px;
  flex-direction: column;
}

.ratings {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.ratings > div {
  display: flex;
  flex-direction: column;
}

.ratings i {
  margin: 0 5px 5px 5px;
}

.rateOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}

.rateOptions > div {
  padding: 10px;
  cursor: pointer;
  border: 2px solid #cccccc;
}

.rateOptions i {
  margin: 0 5px 5px 5px;
}

.rateOptions .active {
  background: #4caf50;
  color: #ffffff;
}

.rateOptions > div:hover {
  background: #25b4be;
}

.rateOptions > div:hover .active {
  color: #ffffff;
}

.imageArea img {
  width: 100%;
}

.options > a {
  width: 50%;
  display: inline-block;
  background: #ffffff;
  white-space: nowrap;
  margin-top: 10px;
  padding: 10px 0;
}

.options > a:first-child {
  margin-top: 0px;
}

.options > a:hover {
  background: #f3f3f3;
}

.options div {
  width: 100%;
}

.ratingSlideLink {
  cursor: pointer;
}

.truckDates i {
  margin-left: 10px;
  cursor: pointer;
  color: red;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row > div:not(:last-child) {
    margin-bottom: 20px;
  }

  .options > a {
    width: 100%;
    margin-top: 0px;
  }

  .leftCol {
    padding: 0px;
  }

  .rightCol {
    padding-left: 0;
  }

  .detailsArea {
    border-left: 0;
    border-right: 0;
  }
}
