<div id="foodIndex">
  <div class="food-leftCol">
    <div class="foodToday">
      <div>
        <h3>TODAY'S TRUCK</h3>
      </div>
      <a [routerLink]="['/food/trucks', truckToday.id]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckToday.imageUrl + ')'}">
          <h2>{{truckToday.name}}</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="food-rightCol">
    <div class="foodNext">
      <div>
        <h3>{{truckNextDay}}</h3>
      </div>
      <a [routerLink]="['/food/trucks', truckNext.id]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckNext.imageUrl + ')'}">
          <h2>{{truckNext.name}}</h2>
        </div>
      </a>
    </div>
    <div class="foodOptions">
      <ul>
        <li><a [routerLink]="['/food/schedule']">view schedule</a></li>
        <li><a [routerLink]="['/food/trucks']">view trucks</a></li>
        <li><a [routerLink]="['/food/request']">submit request</a></li>
      </ul>
    </div>
  </div>
</div>