<div id="foodIndex">
  <div class="food-leftCol">
    <div class="foodToday">
      <div>
        <h3>TODAY'S TRUCK</h3>
      </div>
      <a [routerLink]="['/food', truckToday.truckId]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckToday.truckImageUrl + ')'}">
          <h2>{{truckToday.truckName}}</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="food-rightCol">
    <div class="foodNext">
      <div>
        <h3>{{truckNextDay}}</h3>
      </div>
      <a [routerLink]="['/food', truckNext.truckId]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckNext.truckImageUrl + ')'}">
          <h2>{{truckNext.truckName}}</h2>
        </div>
      </a>
    </div>
    <div class="foodOptions">
      <ul>
        <li>view schedule</li>
        <li>view trucks</li>
        <li>submit request</li>
      </ul>
    </div>
  </div>
</div>