<div id="foodIndex">
  <div class="food-leftCol">
    <div class="foodToday">
      <div>
        <h3>TODAY'S TRUCK</h3>
      </div>
      <div class="truckImage" style="background-image: url('/assets/img/brunchholiday.jpg');">
        <h2>Brunch Holiday</h2>
      </div>
    </div>
  </div>
  <div class="food-rightCol">
    <div class="foodNext">
      <div>
        <h3>TOMORROW</h3>
      </div>
      <div class="truckImage" style="background-image: url('/assets/img/polish.jpg');">
        <h2>Krystyna's</h2>
      </div>
    </div>
    <div class="foodOptions">
      <ul>
        <li>view schedule</li>
        <li>view trucks</li>
        <li>submit request</li>
      </ul>
    </div>
  </div>
</div>