.row {
  display: flex;
}

.leftCol {
  flex: 2;
  margin-right: 20px;
}
.rightCol {
  flex: 1;
}
.food-rightCol > div:not(:last-child) {
  margin-bottom: 20px;
}

.truckTitle {
  display: inline-block;
  color: #ffffff;
}

.truckImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.foodToday .truckImage {
  min-height: 200px;
  width: 100%;
  padding-bottom: 50%;
}

// today truck title
.foodToday .truckTitle {
  background: #4caf4fe7;
  padding: 15px;
  font-size: 48px;
}

.foodNext {
  margin-bottom: 20px;
}

// coming up truck image
.foodNext .truckImage {
  min-height: 100px;
  padding-bottom: 30%;
}

// coming up truck titles
.foodNext .truckTitle {
  background: #007a83e7;
  padding: 10px;
  font-size: 30px;
}

// Options
.foodOptions {
  border: 2px solid #cccccc;
  background: #ffffff;
  padding: 20px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foodOptions a:not(:last-child) {
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .leftCol {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .rightCol {
    display: flex;
    flex-direction: column;
  }

  .foodToday .truckTitle {
    font-size: 36px;
  }

  .foodNext {
    display: none;
  }

  .foodOptions {
    flex: 1;
    text-align: center;
    font-size: 40px;
    border-left: 0;
    border-right: 0;
  }

  .rightCol > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
