<div class="row">
  <div class="leftCol">
    <div class="foodToday" *ngIf="!isTodayScheduled">
      <h3>No trucks are currently scheduled</h3>
    </div>
    <div class="foodToday" *ngIf="truckToday">
      <div>
        <h3>{{truckTodayDay | uppercase}}</h3>
      </div>
      <a [routerLink]="['/truck/', truckToday.id]">
        <!-- <div class="truckImage" [ngStyle]="{'background-image': 'url(/assets/img/trucks/' + truckToday.id + '.jpg)'}"> -->
          <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckToday.imagePath + ')'}">
          <div class="truckTitle">{{truckToday.name}}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="rightCol">
    <div class="foodNext" *ngIf="truckNext">
      <div>
        <h3>{{truckNextDay}}</h3>
      </div>
      <a [routerLink]="['/truck/', truckNext.id]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(' + truckNext.imagePath + ')'}">
          <div class="truckTitle">{{truckNext.name}}</div>
        </div>
      </a>
    </div>
    <div class="foodOptionsWrapper">
      <div class="foodOptions">
        <a [routerLink]="['/truck/schedule']">view schedule</a>
        <a [routerLink]="['/truck/list']">view trucks</a>
        <a [routerLink]="['/truck/update']">add truck</a>
      </div>
    </div>
  </div>
</div>