<div class="row">
  <div class="leftCol">
    <div class="foodToday" *ngIf="truckToday">
      <div>
        <h3>TODAY'S TRUCK</h3>
      </div>
      <a [routerLink]="['/truck/', truckToday.id]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(/assets/img/trucks/' + truckToday.id + '.jpg)'}">
          <div class="truckTitle">{{truckToday.name}}</div>
        </div>
      </a>
    </div>
  </div>
  <div class="rightCol">
    <div class="foodNext" *ngIf="truckNext">
      <div>
        <h3>{{truckNextDay}}</h3>
      </div>
      <a [routerLink]="['/truck/', truckNext.id]">
        <div class="truckImage" [ngStyle]="{'background-image': 'url(/assets/img/trucks/' + truckNext.id + '.jpg)'}">
          <div class="truckTitle">{{truckNext.name}}</div>
        </div>
      </a>
    </div>
    <div class="foodOptions">
      <a [routerLink]="['/truck/schedule']">view schedule</a>
      <a [routerLink]="['/truck/list']">view trucks</a>
    </div>
  </div>
</div>